.small--text__footer {

    font-size: clamp(7px, 3vw, 25px);
    text-transform: uppercase;
    font-weight: 200;
}

.text--big__footer {
    font-size: clamp(9px, 3vw, 26px);
    font-weight: 300;
}

.line--divisory__footer {
    width: 90%;
    height: 1px;
    background-color: var(--BorderBottomSeparadorSecciones);
}