.container--text__boxes {
    width: 50%;
    height: calc(100vh - 60px);
    border-left: 1px solid var(--BorderBottomSeparadorSecciones);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}

.boxes--background__ofTexts {
    border: 2px solid;
    border-style: inset;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.blur--boxes {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.695);
    grid-row: 1/16;
    grid-column: 1/16;
    display: flex;
    justify-content: center;
    align-items: center;
}