.container--butonLogout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.button--logout {
    font-size: 1.1rem;
    padding: 6px 9px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    background-color: rgb(60, 60, 60);
    color: rgb(255 0 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
}

.button--logout:hover {
    background-color: #363636;
}