.container--links__navbar {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.logo--navbar {
    font-size: 1.5rem;
}

.links--navbar {
    font-size: 1.1rem;
}

.links--navbar,
.logo--navbar {
    padding: 6px 9px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
}

.links--navbar:hover,
.logo--navbar:hover {
    background-color: #474747;
    border-radius: 4px;
    border-style: outset;
}

.icon {
    font-size: 1.4rem;
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;

}

@media (max-width: 768px) {
    .container--links__navbar {
        background: black;
        position: absolute;
        width: 50%;
        flex-direction: column;
        height: calc(100vh - 60px);
        top: 60px;
        left: -9000px;

        z-index: 1;
        gap: 50px;
    }

    .active {
        left: 0px;
    }
}