.container--links__navbar {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.logo--navbar {
    font-size: 1.5rem;
}

.links--navbar {
    font-size: 1.1rem;
}

.links--navbar,
.logo--navbar {
    padding: 6px 9px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
}

.links--navbar:hover,
.logo--navbar:hover {
    background-color: #474747;
    border-radius: 4px;
    border-style: outset;
}

.icon {
    font-size: 2rem;
    cursor: pointer;
    background: transparent;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container--bubbleCount {
    width: 0px;
    height: 0px;
}

.bubble--count__cartIcon {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-weight: 600;
    text-shadow: 2px 2px 2px black;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    top: -27px;
    right: -22px;
}

@media (max-width: 768px) {
    .container--links__navbar {
        background: black;
        position: absolute;
        width: 50%;
        flex-direction: column;
        height: calc(100vh - 60px);
        top: 60px;
        left: -9000px;

        z-index: 1;
        gap: 50px;
    }

    .active {
        left: 0px;
    }
}