.button--logout {
    font-size: 1.1rem;
    padding: 6px 9px;
    transition: all .1s;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.button--logout:hover {
    background-color: #474747;
    border-radius: 4px;
    border-style: outset;
}