.container--section__presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.containerMain--slider {
    width: 100%;
    height: 70%;
    border-radius: 25px;
    overflow: hidden;

}